<template>
  <main class="flex flex-col items-center">
    <About/>
  </main>
</template>

<script setup lang="ts">
import About from "@/components/About.vue";
</script>

<style lang="postcss">
</style>