<template>
  <Navigation class="mb-5 text-sm" />
  <router-view />
</template>

<script setup lang="ts">
import Navigation from "@/components/Navigation.vue";
</script>

<style lang="postcss">
#app {
  display: flex;
  flex-flow: nowrap column;
  align-content: center;
  font-family: Helvetica, serif;
  height: 100%;
}
</style>